Edge requires the following projects:
 - connective-http (2023 rewrite and above): https://github.com/SkySwimmer/connective-http
 - Razorwhip: https://github.com/SkySwimmer/Razorwhip
 - Nexus Emulation libraries: https://github.com/SkySwimmer/NexusEmulation
 
Commands to set up dependencies:
 - Connective:
   mkdir deps
   git clone https://github.com/SkySwimmer/connective-http deps/connective-http
 - Razorwhip:
   mkdir deps
   git clone https://github.com/SkySwimmer/Razorwhip deps/razorwhip
 - Nexus Emulation:
   mkdir deps
   git clone https://github.com/SkySwimmer/NexusEmulation deps/nexus-emulation
